# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

.vs/*
RenamingRules/bin/*
RenamingRules/obj/*
ProjectBatchName/obj/*
ProjectBatchName/bin/*
BatchNameRule/.vs/*
BatchNameRule/RemoveAllSpaceRule/bin/*
BatchNameRule/RemoveAllSpaceRule/obj/*
BatchNameRule/AddCouterRule/bin/*
BatchNameRule/AddCouterRule/obj/*
BatchNameRule/AddPrefixRule/bin/*
BatchNameRule/AddPrefixRule/obj/*
BatchNameRule/AddSuffixRule/bin/*
BatchNameRule/AddSuffixRule/obj/*
BatchNameRule/BatchNameRule/bin/*
BatchNameRule/BatchNameRule/obj/*
BatchNameRule/ChangeExtensionRule/bin/*
BatchNameRule/ChangeExtensionRule/obj/*
BatchNameRule/DuplicateRule/bin/*
BatchNameRule/DuplicateRule/obj/*
BatchNameRule/Lowercase/obj/*
BatchNameRule/Lowercase/bin/*
BatchNameRule/Pascalcase/obj/*
BatchNameRule/Pascalcase/bin/*
BatchNameRule/ReplaceRule/bin/*
BatchNameRule/RenamingRules/obj/*

