# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

.vs/*
RenamingRules/bin/*
RenamingRules/obj/*
ProjectBatchName/obj/*
ProjectBatchName/bin/*